/*.images{*/
/*  margin: 0 auto;*/
/*  display: block;*/
/*  height: 300px;*/
/*}*/
.images {
  width: 100%; /* Ширина области */
  height: 300px; /* Высота области */
  margin: 0; /* Обнуляем отступы */
}
.i {
  width: 100%; /* Ширина изображений */
  height: 100%; /* Высота изображении */
  object-fit: cover; /* Вписываем фотографию в область */
}
