.forTitle{
  font-family: "Marker Felt, fantasy" ;
  font-weight: 600;
  font-stretch: semi-expanded;
  font-style: italic

}
.forText{
  font-family: "Palatino, URW Palladio L, serif" ;
  font-size: 1.0rem;
  line-height: 1.5
}
.center{

  text-align: center;
}
