<div class="center">
  <h1 class="forTitle mt-3">Контакты</h1>
<div class="row mt-3">
<a href="https://vk.com/feed" class="icon-size icon-container me-4"  >
  <i class="fa fa-vk"></i>
</a>
<a  href="https://www.instagram.com/" class="icon-size icon-container mt-1 me-4"  >
  <i class="fa fa-instagram"></i>
</a>
<div class="mt-1 icon-size icon-container me-4"  >
  <i class="fa fa-phone"></i>
  +375334567890
</div>
  <div class=" forText mt-1 icon-size icon-container me-4"  >
  <i class="fa fa-map-marker"></i>
  ул. Чкалова 23
</div>
  <div class=" forText mt-1 col icon-size icon-container ms-3"  >
  <i class="fa fa-clock-o"></i>
    {{workTime}}
    <div class="forText"> {{weekend}}</div>
 </div>
</div>
</div>
