.forTitle{
  padding-top: 3%;
  font-family: "Marker Felt, fantasy" ;
  font-weight: 600;
  font-stretch: semi-expanded;
  font-style: italic

}
.center{

  text-align: center;
}
.forTextOne{
  font-family: "Palatino, URW Palladio L, serif" ;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.7
}
.forTextTwo{
  font-family: "Palatino, URW Palladio L, serif" ;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.7
}

.image {
  position: relative;
  width: 100%; /* для IE 6 */
  height: 100vh;
  background: url("../../../assets/home1.png") center no-repeat ;
  background-size: cover;
}


p span {
  color: #212121;
  position: absolute;
  top: 35%;
  left: 0;
}
.btn-img{
  position: absolute;
  top: 70%;
  left: 0;
  background: #CCCCCC;
  border-radius: 25px;


}
@media screen and (max-width: 500px){
  .image {
    position: relative;
    width: 100%; /* для IE 6 */
    height: 40vh;
    background: url("../../../assets/home1-small.png") center no-repeat ;
    background-size: cover;
  }
  p span {
    color: #212121;
    position: absolute;
    top: 35%;
    left: 0;
  }
  .btn-img{
    position: absolute;
    top: 60%;
    left: 0;

  }
  .forTextOne{
    padding-top: 2%;
     font-family: "Palatino, URW Palladio L, serif" ;
     font-weight: 600;
     font-size: 0.7rem;
     line-height: 1.0
   }
  .forTextTwo{
    padding-top: 3%;
    font-family: "Palatino, URW Palladio L, serif" ;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.3
  }
  .forTitle{
    margin: 0;
  }
}





