<div #startStyle class="navigation-wrap bg-light start-header ms-0 me-0 d-flex start-style">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="position-relative" style="cursor: pointer;">
            <img class="navbar-brand logo" #headerLogo src="/assets/flower.png" alt="">
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-label="Toggle navigation" (click)="collapse.toggle()" [attr.aria-expanded]="!isHidden">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div #collapse="ngbCollapse" [ngbCollapse]="isHidden"  class="collapse navbar-collapse justify-content-md-center justify-content-sm-start"
               id="navbarSupportedContent">
            <ul class="navbar-nav mt-10px">
              <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4" ngbDropdown>
                <span class="nav-link dropdown-toggle " ngbDropdownToggle>{{'HEADER.HOME'|translate}}</span>

              </li>
              <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4">
                <a class="nav-link" routerLink="/aboutUs">{{'HEADER.ABOUTUS' | translate}}</a>
              </li>

<!--              <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4" ngbDropdown>-->
<!--                <span class="nav-link dropdown-toggle" ngbDropdownToggle>{{'HEADER.JOURNAL'| translate }}</span>-->
<!--                <div class="dropdown-menu">-->
<!--                  <a class="dropdown-item" href="#">Action</a>-->
<!--                  <a class="dropdown-item" href="#">Another action</a>-->
<!--                  <a class="dropdown-item" href="#">Something else here</a>-->
<!--                  <a class="dropdown-item" href="#">Another action</a>-->
<!--                </div>-->
<!--              </li>-->

              <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4" ngbDropdown>
                <span class="nav-link dropdown-toggle" ngbDropdownToggle>{{'HEADER.JOURNAL'| translate }}</span>
                <div class="dropdown-menu" >
                  <a class="dropdown-item" *ngFor="let menuItem of categories"  routerLink="/home/{{menuItem.id}}">
                    <span>{{menuItem.title}}</span>
                  </a>
                </div>
              </li>
<!--              <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4" ngbDropdown *ngFor="let menuItem of heroes">-->

<!--                <a routerLink="/detail/{{MenuItem}}">-->
<!--                  <span class="nav-link dropdown-toggle" ngbDropdownToggle>{{menuItem}}</span>-->
<!--                </a>-->
<!--              </li>-->

              <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4">
                <a class="nav-link" routerLink='/delivary'>{{'HEADER.ABOUTDELIVARY' | translate}}</a>
              </li>
              <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4">
                <a class="nav-link" href="#">{{'HEADER.CONTACT' | translate}}</a>
              </li>
            </ul>
          </div>

        </nav>
      </div>
    </div>
  </div>
  <div class="me-2 mt-1 mt-md-2 d-inline-flex">
    <a  class="icon-size icon-container me-4"  (click) = "openRegisterDialog ()">
      <i class="fa fa-user-o"></i>
    </a>
    <a  class="icon-size icon-container me-4"  (click) = "openLoginDialog ()">
      <i class="fa fa-sign-in"></i>
    </a>
  </div>
</div>

