.forTitle{
  font-family: "Marker Felt, fantasy" ;
  font-weight: 600;
  font-stretch: semi-expanded;
  font-style: italic;
  text-align: center

}
.childTitle{
  font-family: "Marker Felt, fantasy" ;
  font-weight: 500;
  font-stretch: semi-expanded;
  font-style: italic;

}
.forText{
  font-family: "Palatino, URW Palladio L, serif" ;
  font-size: 1.0rem;

}
